body {
    background-color: #8393AF;
    color: white;
    margin:0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.T-Titulo {
    color: white;
    background-color: #FAD49E;
    padding: 20px;
    margin: 0;
    box-shadow: 0px 6px 5px rgba(0, 0, 78, 0.15);
}

.T-Titulo > h1 {
    padding: auto;
    font-size: 120px;
    font-weight:900;
}


.grid{
    
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 2000px;
}

.carta {
    position: relative;
    box-shadow: 0px 6px 5px rgba(0, 0, 78, 0.15);
    padding: 0;
    margin: 0;
    
}

.carta > img{
    width: 100%;
    display: block;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    background-color: #F5BEA5;
    box-shadow: 0px 6px 5px rgba(0, 0, 78, 0.15);
    
}

.navbar > .boton {
    background: none;
    border: 2px solid white;
    padding: auto;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 700;
    background: #8393AF;
    color: white;
}

.navbar > .boton:hover {
    background: #FAD49E;
    color:#8393AF;
}

.navbar > h2 {
    padding: 0px 0px 0px 50px;
}

.carta .FC {
    transform: rotateX(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.arriba .FC {
    transform: rotateX(0deg);
}

.carta .BC {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    
}

.arriba .BC {
    transform: rotateX(90deg);
    transition: all ease-in;
}


.arriba .BC {
    transition: rotateX(90deg);
    transition-delay: 0s;
}